body {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: lightblue;
}

tr:nth-child(even) {
    background-color: red;
}
